#project {
  margin-top: 6rem !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 92%;
  width: 80%;
}

.card-text {
  height: 100px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

#images {
  width: 260px;
  height: 220px;
  margin: 10px 12px;
  border-radius: 10px;
}

.btn-blue {
  margin-top: 10px;
  font-family: "Poppins";
  padding-inline: 15px;
  height: 30px;
  border-radius: 20px;
  background: rgb(182, 86, 160);
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-style: none;
  width: 122px;
}

.icon-project {
  font-size: 30px;
}

#check {
  font-size: 16px;
}

@media only screen and (min-width: 700px) {
  #project {
    height: 96%;
  }
}

body {
  height: 70vh;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #project {
    height: 97%;
    /* background-color: antiquewhite; */
  }
}

body {
  height: 100vh;
}

/* @media only screen and (max-width: 900px) {
  #project {
    height: 96%;
  }
}

body {
  height: 60vh;
} */
