input {
  background-color: white;
  padding: 6px;
  border-radius: 5px;
  height: 25px;
  box-shadow: 0px 2px 3px grey;
  border-style: none;
}

.title {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  margin: 100px 400px;
  border-radius: 20px;
  padding-bottom: 30px;
  
}

h1 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  
}

.form-container div {
  display: flex;
  flex-direction: column;
}

.form-container div label {
  font-size: medium;
}
.form-container select {
  background-color: white;
  padding: 6px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 0px 2px 3px grey;
  border-style: none;
  font-size: 15px;
  margin-top: 10px;
}

.form-container button {
  margin-top: 10px;
  font-family: "Poppins";
  padding-inline: 15px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-style: none;
  width: 100px;
  margin-left: 200px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}


@media only screen and (max-width: 600px) {
  .title {
    margin: 100px 40px;
    padding: 5px;
    height: 98%;
  }

  h1 {
    font-size: 26px;
  }

  .form-container div label {
    font-size: 16px;
    margin: 0 25px;
  }

  .form-container {
    margin-top: -18px;
  }

  input {
    margin: 0 25px;
  }

  .form-container select {
    margin: 0 25px;
    width: 84%;
  }

  .form-container button {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    margin: 75px 80px;
    width: 80%;
    margin-left: 35px;
  }

  .form-container {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 350px) {
  .title {
    margin: 80px 50px;
    width: 85%;
    margin-left: 18.5px;
    height: 120%;
   
  }

  .form-container {
    margin-top: -30px;
  }
}

@media only screen and (min-width: 700px) {
  .title {
    margin: 120px 130px;
    width: 60%;
    height: 70%;
  }

  .form-container {
    margin-top: -30px;
  }
}
@media only screen and (min-width: 800px) {
  .title {
    margin: 120px 142px;
    width: 60%;
    height: 62%;
  }

  .form-container {
    margin-top: -30px;
  }
}
