nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  /* background-color: rgba(158, 148, 148, 0.1); */
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100%;
  font-family: "Poppins";
  border-style: none;
  font-weight: 400;
}

nav ul li img {
  height: 60px;
  width: 65px;
  margin-right: 20px;
  object-fit: contain;
  margin-top: 7px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: rgb(109, 106, 106);
  font-weight: bold;
  background-color: rgba(238, 210, 152, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.nav-right {
  margin-right: 20px;
  border: 20px;
}

.nav-right button {
  font-family: "Poppins";
  padding-inline: 15px;
  height: 2%;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-style: none;
}

.hamburger-nav {
  display: none;
  transition: all 0.3s ease-in;
}

.hamburger-nav a {
  display: none;
}

@media only screen and (max-width: 600px) {
  .item {
    display: none;
  }

  .hamburger-nav {
    display: none;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    position: fixed;
    background-color: rgb(247, 194, 203);
    height: 28%;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
  }

  .hamburger-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 10px auto 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2px 0;
    float: right;
    transform: translateX();
    transition: transform 0.5s ease-in;
  }

  a:hover {
    background: none;
    color: rgb(185, 23, 203);
  }
}

@media only screen and (min-width: 600px) {
  #hamburger-btn {
    display: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 400px) {
  .hamburger-nav {
    margin-top: 5px;
    height: 35%;
    justify-content: center;
    align-items: center;
  }
}


