.container {
  display: flex;
  flex-direction: column;
  margin: 2 em;
}

.container h1 {
  text-align: center;
}

.testimonial {
  display: flex;
  /* grid-template-columns: auto auto auto; */
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-testimoni {
  width: 22em;
  height: 18em;
  box-shadow: 0px 2px 8px 0px rgba(111, 111, 111, 0.2);
  padding: 1em;
  background-color: white
}

.card-testimoni img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.quote {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: right;
}

.author {
  font-weight: bold;
  text-align: right;
}

@media only screen and (max-width: 900px) {
  .testimoni {
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  .testimonial {
    flex-direction: column;
  }

  .card-testimoni {
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;

    
  }

}
