.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 15px;
  width: 91%;
}

body {
  height: 97.5vh;
}

.container h1 {
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-testimoni {
  width: 22em;
  height: 18em;
  box-shadow: 0px 2px 8px 0px rgba(111, 111, 111, 0.2);
  padding: 1em;
  background-color: white;
}

.card-testimoni img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.quote {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: right;
}

.author {
  font-weight: bold;
  text-align: right;
}

h3 {
  text-align: center;
  font-size: 26px;
}

.stars {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.stars button {
  background-color: rgb(205, 99, 117);
  border-style: none;
}

@media only screen and (max-width: 400px) {
  .card-testimoni {
    width: 75%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-right: 40px;
  }

  .stars{
    margin-right: 48px;
  }

  .rating {
    margin: 5px 2px;
  }

  .container h1 {
    margin-right: 20px;
  }

  .testimonial {
    margin-left: -2px;
  }

}
@media only screen and (max-width: 350px) {
  .container {
    padding: 10px 28px;
  }

  .testimonial {
    margin-left: 0px;
  }

  .stars{
    margin-right: 48px;
  }

  .rating {
    margin: 5px 2px;
  }
}

@media only screen and (max-width: 600px) {
  .card-testimoni {
    width: 75%;
    height: 100%;
  }

  .container {
    width: 100%;
    padding-top: 5px;
    margin-left: 0px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .rating {
    margin: 5px 2px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 0 32px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
  }

  .container {
    /* width: 80%; */
    padding-top: 5px;
    margin-top: 80px;
    padding: 0 30px;
  }

  .rating {
    margin: 5px 2px;
  }

  .card-testimoni {
    width: 15em;
    height: 20em;
  }
}
