#project {
  margin-top: 6rem !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 92%;
  width: 80%;
}

.card-text {
  height: 80px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

#images {
  width: 260px;
  height: 220px;
  margin: 10px 12px;
  border-radius: 10px;
}

.btn-blue {
  margin-top: 10px;
  font-family: "Poppins";
  padding-inline: 15px;
  height: 30px;
  border-radius: 20px;
  background: rgb(182, 86, 160);
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-style: none;
  width: 122px;
}

.icon-project {
  font-size: 30px;
}

#check {
  font-size: 16px;
}

body {
  height: 100vh;
}

@media only screen and (min-width: 700px) {
  #project {
    height: 96%;
  }
  body {
    height: 74vh;
  }
}
@media only screen and (min-width: 800px) {
  #project {
    height: 96%;
  }
  body {
    height:60vh;
  }
}
@media only screen and (min-width: 1000px) {
  #project {
    height: 96%;
  }
  body {
    height:90vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  #project {
    height: 98%;
  }
  body {
    height: 96vh;
  }
}

@media only screen and (max-width: 330px) {
  #project {
    height: 146vh;
  }
  body {
    height: 150vh;
  }
}
