@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  /* background: url(/images/bg1.jpeg); */
  background-image: url(/Day3Task/images/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 87.8vh;
}
